<div id="<%= dom_id friend %>">
  <p>
    <strong>Full name:</strong>
    <%= friend.first_name %>
  </p>

  <p>
    <strong>last full name:hi there</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Email: hi there</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= friend.phone %>
  </p>

</div>
